#title {
    text-decoration-color: hsla(0, 100%, 50%, 0.1);
    text-align: center;
}

body  {
    margin: 0;
    background-image: url("#");
    background-color: #FDF9F0;
}

h1, h5 {
    text-align: center;
}

video {
    flex-direction: row , center;
}

article {
	border: 3px solid #FDF9F0;
	height: 500px;
    position: relative;
	border: 3px solid #FDF9F0;
	box-sizing: border-box;
}
article span {
	background-color: #FDF9F0;
}
aside {
	border: 3px solid #FDF9F0;
	height: 500px;
    position: relative;
	border: 3px solid #cccccc;
	box-sizing: border-box;
}


  footer {
    background-color: #FFFFFF;
    position: relative;
	border: 3px solid #cccccc;
	box-sizing: border-box;
	border: 3px solid #FDF9F0;
	height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
}

section {
	position: relative;
	border: 3px solid #cccccc;
	box-sizing: border-box;
}
span {
	padding : 1px;
	background-color: #cccccc;
}

header span {
	background-color: #FDF9F0;
    
}
/*nav {
	border: 3px solid #8BC34A;
	height: 500px;
}
nav span {
	background-color: #8BC34A;
}*/
section {
	border: 3px solid #FDF9F0;
	padding: 25px;
}
section span {
	background-color: #FDF9F0;
}


#map { 
    height: 2768px;
    margin: 0 auto;
    align-items: center;
	width:"200" ;
	height:"200" ;
	max-width: 1000px; 
	max-height: 90vh; 
	box-sizing: border-box;
}

/*
article span {
	background-color: #009688;
}
aside {
	border: 3px solid #FFC107;
	height: 500px;
}
aside span {
	background-color: #FFC107;
}

/*.corner1 {
	position: absolute;
	top: 0;
	left: 0;
}
/*.corner2 {
	position: absolute;
	bottom: 0;
	right: 0;
}


#FFB787